{% extends 'base.html' %}

{% block head %}
<title>Data Ghost</title>
{% endblock %}

{% block body %}
<div class="content">
	<h1>Compare two input strings</h1>
	<h4><i>Plug in your own python comparator – coming soon</i></h4>
	{% if results|length < 1 %}
		<h4>Compare your texts below!</h4>
	{% else %}
	<table class="fixed_header">
		<thead>
			<tr>
				<th>Method Name</th>
				<th>Distance</th>
				<th>Similarity</th>
				<th>Maximum</th>
				<th>Norm Dist</th>
				<th>Norm Sum</th>
				<th>Go</th>
				<th>Die</th>
			</tr>
		</thead>
			<tbody>
				{% for result in results %}
					<tr>
						<td>{{ result.method_name }}</td>
						<td>{{ result.distance }}</td>
						<td>{{ result.similarity }}</td>
						<td>{{ result.maximum }}</td>
						<td>{{ result.norm_dist }}</td>
						<td>{{ result.norm_sum }}</td>
						<td>
							<a href="/viewtexts/{{result.id}}">Go</a>
						</td>
						<td>
							<a href="/delete/{{result.id}}">Die</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		
	</table>
	{% endif %}

	<form class="form" action="/" method="POST">
		<div style='text-align: center;'>
			<div class="inline-div">
				<p style='text-align: center;'>Text 1</p>
				<textarea rows="25" cols="60" type="text" name="input-text1" class="inline-text-area1"></textarea>
			</div>
			<div class="inline-div">
				<p style='text-align: center;'>Text 2</p>
				<textarea rows="25" cols="60" type="text" name="input-text2" id="inline-text-area2"></textarea>
			</div>
			<br>
			<br>
			<div class="dropdown">
			  <button class="dropbtn">Choose an algorithm</button>
			  	<select name="option" class="dropdown-content">
			  	<option value="Jaro">Jaro</option>
			    <option value="Hamming">Hamming</option>
			    <option value="Levenshtein">Levenshtein</option>
				</select>
			  </div>
			</div>
			<br>
			<div class="submit-button">
				<input id="calculate" type="submit" value="Calculate!">
			</div>
		</div>
	</form>
	
</div>
{% endblock %}


<!-- 
	<script type="text/javascript">
		function sendToPage() {

			document.querySelector(".inline-text-area1").value="hellooo";
		}

		function httpGetAsync(theUrl, callback)
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}
	</script>
	<button onclick="sendToPage()">Go to VT</button> -->