{% extends 'base.html' %}

{% block head %}
<title>Data Ghost</title>
{% endblock %}

{% block body %}
<div class="content">
	<h1>String Compare</h1>
	{% if results|length < 1 %}
		<h4>Compare your texts below!</h4>
	{% else %}
	<div class="scrolly-div">
		<table class="fixed-header">
			<thead>
				<tr>
					<th>Method Name</th>
					<th>Distance</th>
					<th>Similarity</th>
					<th>Maximum</th>
					<th>Norm Dist</th>
					<th>Norm Sum</th>
					<th>Go</th>
					<th>Die</th>
				</tr>
			</thead>
			<tbody>
				{% for result in results %}
					<tr>
						<td>{{ result.method_name }}</td>
						<td>{{ result.distance }}</td>
						<td>{{ result.similarity }}</td>
						<td>{{ result.maximum }}</td>
						<td>{{ result.norm_dist }}</td>
						<td>{{ result.norm_sum }}</td>
						<td>
							<a href="/viewtexts/{{result.id}}">Go</a>
						</td>
						<td>
							<a href="/delete/{{result.id}}">Die</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>
	{% endif %}
	
	<a href="/gettexts">
		<button id="csv-button">Download CSV</button>
	</a>
	
	<form class="form" action="/" method="POST">
		<div style='text-align: center;'>
			<div class="inline-div">
				<p style='text-align: center;'>Text 1</p>
				<textarea rows="20" cols="60" type="text" name="input-text1" class="inline-textarea"></textarea>
			</div>
			<div class="inline-div">
				<p style='text-align: center;'>Text 2</p>
				<textarea cols="60" type="text" name="input-text2" id="inline-textarea"></textarea>
			</div>
			<br>
			<br>
			<div class="dropdown">
			  <button class="dropbtn">Choose an algorithm</button>
			  	<select name="option" class="dropdown-content">
			  	<option value="Jaro">Jaro</option>
			    <option value="Hamming">Hamming</option>
			    <option value="Levenshtein">Levenshtein</option>
				</select>
			  </div>
			</div>
			<br>
			<div class="submit-button">
				<input id="calculate" type="submit" value="Calculate!">
			</div>
		</div>
	</form>
	
</div>
{% endblock %}